html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  /* font-family: 'Roboto', sans-serif; */
  
  font-family: "Micro 5", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.grid-container {
  height: 100vh;
  display: grid;
  /* grid-template-columns: 35% 65%; */
  grid-template-columns: min(calc(0.729564 * 100vh), 35%) calc(100vw - min(calc(0.729564 * 100vh), 35%));
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.menu-column {
  grid-area: 1 / 1 / 6 / 2;
  height: 100%;
  width: 100%;
  display: flex;
}

.menu-column>img {
  position: absolute;
  left: min(0%, calc(35vw - 100vh * 0.729564));
  z-index: 2;
  height: 100%;
}

#menu-content{
  display: flex;
  position: absolute;
  flex-wrap: wrap;

  top: 30%;
  left: 8.5vh;
  z-index: 10;
  transform: translateX(min(0%, calc(35vw - 100vh * 0.729564)));
  
  height: 32vh;
  aspect-ratio: 1.5 / 1;
  font-size: 2.5vh;
}

#menu-content > h1 {
  justify-content: center;
  text-align: center;
  width: 100%;
  padding: 0%;
  margin-bottom: 0%;
  padding-bottom: 0px;
  font-size: 7vh;
}

#menu-content > fieldset {
  margin: 0%;
  padding: 0px;
  padding-bottom: 5%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: none;
}

#menu-content > fieldset > button {
  width: 80%;
  height: 40%;
  border: 3px solid yellow;
  border-radius: 10px;
  box-shadow: 2px 2px blue;
  background-color: tan;
  font-size: 2.5vh;
  font-family: "Micro 5", sans-serif;
  font-style: normal;
  font-size: 4vh;
}

#menu-score{
  display: flex;
  position: absolute;
  flex-wrap: nowrap;

  top: 82.2%;
  left: 7.1vh;
  z-index: 10;
  transform: translateX(min(0%, calc(35vw - 100vh * 0.729564)));
  
  height: 6vh;
  aspect-ratio: 4 / 1;
  font-size: 2.5vh;

  align-items: center;
  justify-content: space-between;
  font-size: 4.5vh;
  padding: 2px;
}

#score{
  font-size: 8vh;
  margin-right: 1vh;
  font-family: "Micro 5", sans-serif;
  font-style: normal;
}

.game-column {
  grid-area: 1 / 2 / 6 / 3;
  padding-top: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

#background {
  position: absolute;
  object-fit:cover;
  z-index: 1;

  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.game-column > fieldset {
  display: flex;
  justify-content: center;
  border: none;
  z-index: 10;
  margin-top: 20px;
}

#SearchBar {
  border: 3px solid yellow;
  box-shadow: 2px 2px blue;
  background-color: tan;
  border-radius: 40px;
  width: 30%;
  height: 40px;
  z-index: 10;
  font-family: "Micro 5", sans-serif;
  font-style: normal;
  font-size: 4vh;
}

#SearchResults {
  position:absolute;
  top: 100px;  /* Ajuste la position sous la barre de recherche */
  z-index: 20;
  transform: translateX(-50%);

  max-height: 0;  /* Début à 0 pour shrink */
  overflow: scroll;
  opacity: 1;  /* Commence invisible */
  width: 25%;
  margin-left: 35%;
  border-radius: 10px;
  box-shadow: 3px 3px grey;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.shrink {
  max-height: 0 !important;
  opacity: 0;
}

.expand {
  max-height: 200px !important; /* Valeur plus grande que le contenu réel */
  opacity: 1;
}

.result {
  height: 30px;
  width: 100%;
  border: none;
  z-index: 10;
  font-size: 4vh;
  font-family: "Micro 5", sans-serif;
  font-style: normal;
}

#trylist, #trylisttitles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;
  border: none;
}

.first-row {
  margin-top: 20px;
  width: 90%;
  display: flex;
  justify-content: center;  
  gap: 15px;
  padding: 10px 0;
  border: 1px solid transparent;
  margin-bottom: 5px;
  z-index: 10;
}

.row {
  width: 90%;
  display: flex;
  justify-content: center;  
  gap: 15px;
  padding: 10px 0;
  margin-bottom: 5px;
  z-index: 10;
}

.square {
  display: flex;
  flex-wrap: wrap;
  width: 5vw;
  height: calc(5vw / 0.7161290323);
  justify-content:center;
  align-content: center;
  z-index: 10;
  perspective: 1000px;
  border: 3px solid transparent;
  font-family: "Micro 5", sans-serif;
  font-style: normal;
}

.square-inner {
  width: 100%;
  height: 100%;
  position: relative;
  border: 3px solid black;
  border-radius: 5px;
  box-shadow: 1px 1px black;
  transform-style: preserve-3d;
  transition: transform 0.6s ease-in-out;
}

.square-front, .square-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vh;
  border-radius: 2px;
  box-shadow: 1px 1px black;
}

.square-front {
  background-color: white;
}

.square-back {
  background-color: tan;
  transform: rotateY(180deg);
}

.first-square {
  text-align: center;
  font-size: 3.5vh;
  display: flex;
  flex-wrap: wrap;
  width: 5vw;
  height: 3vw;
  justify-content:center;
  align-content: center;
  border: 3px solid transparent;
  border-bottom: 5px solid black;
  border-radius: 1px;
  z-index: 10;
}

#pokemonSprite {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 10px;
  z-index: 10;
}

.arrow{
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.3;  
}

::-webkit-scrollbar {
  display: none;
}
